.button{
    max-width: 600px;
    background-color: var(--red-900);
    border: 0;
    padding: 0.4rem;
    color: var(--white);
    border-radius: 0.5rem;

    &:hover{
        filter: brightness(1.05);
    }

    &[disabled]{
        svg{
            animation: animate 2s infinite;
        }
        cursor: not-allowed;
    }
}


.buttonText{
    color: var(--white);
}

@keyframes animate {
   from{
    transform: rotate(0deg);
   } 
   to{
    transform: rotate(360deg);
   }
}